/* 
    font-family: "Raleway", sans-serif;

    COLOR

    #1c2129 - Cinza mais escuro
    #31363F - Cinza Escuro
    #76ABAE - Azul
    #EEEEEE - Branco
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: #31363F;
}

.container{
    width: 100%;
}

.intro .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.intro .container h1{
    font-size: 3rem;
    color: #EEEEEE;
    text-align: center;
}

.intro .container span{
    color: #76ABAE;
    display: block;
    font-size: 4rem;
}

.intro .container h2{
    color: #EEEEEE;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.intro .container .image-introduction{
    display: flex;
    align-items: center;
}

.intro .container .image-introduction img{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.452);
}

.about-me .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
}

.about-me .container .text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me .container .text-about h2{
    color: #76ABAE;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.about-me .container .text-about p{
    color: white;
    line-height: 30px;
    text-align: center;
}

.about-me .container .more-about{
    margin: 50px 0;
}

.about-me .container .more-about a{
    background-color: #1c2129;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.311);
    cursor: pointer;
    text-decoration: none;
    margin: 500px 0;
    color: rgb(151, 151, 151);
}

.about-me .container .social-media{
    display: flex;
    gap: 20px;
}

.about-me .container .social-media .logo-social{
    color: #1c2129;
    font-size: 4rem;

}